*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
background-color: rgb(222, 211, 211);
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto;
gap: 0.1rem;
padding: 4rem;
justify-items: stretch;
}
.box {
    border: 2px solid black;
    /* Adjust the width and height properties */
    width: calc((100vw - 8rem) / 3); /* Adjust the width as per your requirement */
    height: calc((100vh - 8rem) / 2); /* Adjust the height as per your requirement */
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;

}
.orange{
    background-color: orange;
}
.moreorange{
    background-color: lightcoral;
}
.green{
   background-color: green;
}
.lightgreen{
    background-color: lightgreen;
}
.moregreen{
    background-color: lightskyblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100vh;
    width: 100vw;
background-color: rgb(222, 211, 211);
display: grid;
/* grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr); */
gap: 0.1rem;
padding: 4rem;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3,1fr);
}
.box {
    border: 2px solid black;
    /* Adjust the width and height properties */
    /* width: calc((100vw - 8rem) / 3); 
    height: calc((100vh - 8rem) / 2);  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    justify-self: stretch;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;

}
.rightbar {
    grid-column-start: 2;
    grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
    background-color: orange;
}

.one {
    background-color: green;
}

.oned {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blue;
}

