*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.big_container{
    background-color: black;
}
.container{
    width: 100%; /* Full width */
    max-width: 1200px; /* Set maximum width */
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: rgb(85, 80, 80);
}
.heading_top,.subheading{
    color: white;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    align-items: center;
}
.box_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
}
.card_card_container{
    border: 2px solid rgb(207, 201, 201);
    border-radius: 3px;
    overflow: hidden; /* Hide overflowing content */
}
.card_card_container:hover .imge{
   transform: scale(1.2);
   transition-duration: 200ms;
}
a{
    text-decoration: none;
}
.heading1{
    font-weight: 600;
    color: black;

}
.minipara{
    color: grey;
    font-weight: 300;
}
.footer_bloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.faceimg{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(107, 103, 103);
    border-radius: 50%;
    background-color: rgb(97, 92, 92);
}
.intro{
    display: flex;
    flex-direction: column;

}
.author_name{
    color: blueviolet;
}
.author_date{
    color: rgb(105, 101, 101);
}
.image{
    overflow: hidden;
    position: relative;
    height: 14rem;
}
.imge{
    width: 100%; /* Image width set to 100% of its container */
    height: auto; /* Maintain aspect ratio */
}
.card_tag_container{
    font-size: 1rem;
    border: 1px solid rgb(85, 82, 82);
    border-radius: 2px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: rgb(120, 118, 118);
}
